{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix  --format=pretty",
    "pnpm prettier --write --ignore-unknown"
  ],
  "*.{json,html}": ["pnpm prettier --write --ignore-unknown"],
  "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}": "oxlint"
}
