@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
  font-family: "Inter", sans-serif;
}

@keyframes fade-left {
  from {
    scale: 1;
    translate: 0;
    opacity: 1;
  }

  to {
    scale: 0.8;
    translate: -30%;
    opacity: 0;
  }
}

@keyframes fade-right {
  from {
    scale: 1;
    translate: 0;
    opacity: 1;
  }

  to {
    scale: 0.8;
    translate: 30%;
    opacity: 0;
  }
}

.card-fader:nth-child(odd) {
  animation: fade-left 3s linear infinite;
}
.card-fader:nth-child(even) {
  animation: fade-right 3s linear infinite;
}

.card-fader:is(:nth-child(3), :nth-child(4)) {
  animation-delay: 750ms;
}

.card-fader:is(:nth-child(5), :nth-child(6)) {
  animation-delay: 1500ms;
}

.card-fader:is(:nth-child(7), :nth-child(8)) {
  animation-delay: 2250ms;
}

/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px #F2F2F2;*/
  margin-block: 1rem;
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 1rem;
  border-radius: 100vh;
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}

/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px #F2F2F2;*/
  margin-block: 1rem;
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 1rem;
  border-radius: 100vh;
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop-animation {
  animation: 3s linear 0s infinite normal none running loop;
}

@keyframes inf_scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: 10s linear 0s infinite normal none running inf_scroll;
}
